	@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu');
	.sub_main_tit{font-family: 'Baloo Tammudu', cursive;}
    canvas {position: fixed;left:0px;bottom:-430px;}
	.sub_main{background:url(../img/video_bg.png) center;background-size:cover ;}
/* -----------------------------info----------------------- */
	.info{max-width:1200px;min-height:500px;margin:auto;padding-bottom:200px;}
	.info .info_{width:100%;min-height:300px;margin-bottom:20px;padding:20px;box-sizing:border-box;position: relative;}
	.info .info_:after{content:"";display: block;clear:both;}
	.info .info_ .info_img{width:50%;min-height:500px;float: left;}
	.info .info_ .info_text{background:#fff;width:40%;min-height:400px;/* float:right; */text-align: center;padding:40px;padding-top:100px;box-sizing:border-box;border: 3px solid #007DBC;position: absolute;
									bottom:80px;box-shadow:0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);}
	.info .info_ .info_text > h2{margin-bottom:8px;border-bottom:1px solid #000;padding:10px;}
	.info .info_01{}
	.info .info_01 .info_img{background:url(../img/info01.jpg) no-repeat bottom;background-size:cover ;}
	.info .info_01 .info_text{right:15%;}
	.info .info_02{}
	.info .info_02 .info_img{float:right;background:url(../img/info02.jpg) no-repeat bottom;background-size:cover ;}
	.info .info_02 .info_text{left:15%;}
	.info .info_03{}
	.info .info_03 .info_img{background:url(../img/info03.jpg) no-repeat bottom;background-size:cover ;}
	.info .info_03 .info_text{right:15%;}
	.info .info_04{}
	.info .info_04 .info_img{float: right;background:url(../img/info04.jpg) no-repeat bottom;background-size:cover ;}
	.info .info_04 .info_text{left:15%;}
	.info .info_05{}
	.info .info_05 .info_img{background:url(../img/info05.jpg) no-repeat bottom;background-size:cover ;}
	.info .info_05 .info_text{right:15%;}
/* -------------------------------------------------MQ----------------------------------------------------- */
	@media screen and (max-width: 800px) {
		 	.info .info_ .info_img{width:100%;}			
		 	.info .info_ .info_text{width:100%;position:none;left:0px;bottom:0px;padding-top:5px;min-height:200px;}
			.info .info_01 .info_text{right:0%;}
		
	}